.main {
	min-height: calc(100vh - 155px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../../assets/images/background__1.png');
	background-repeat: repeat;
	background-color: #f89c19;
}
