@keyframes visibleElem {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.stepItem {
	width: 50px;
	height: 50px;
	background-color: #977575;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow {
	width: 60%;
	height: 60%;
	animation-name: visibleElem;
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.up {
	transform: rotate(-90deg);
}

.down {
	transform: rotate(90deg);
}

.left {
	transform: rotate(180deg);
}

.right {
	transform: inherit;
}
